spring:
  datasource:
    driver-class-name: org.h2.Driver
    username: sa
    url: jdbc:h2:mem:DB;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    password: ''
  h2:
    console:
      enabled: 'true'
      path: /h2

logging:
  level:
    org:
      springframework:
        web:
          filter:
            CommonsRequestLoggingFilter: DEBUG
    web: INFO
  file:
    name: app-log.log

server:
  error:
    whitelabel:
      enabled: 'false'

yandex:
  api:
    folder-id: b1gppvd1klmlc427uqpk
    key: t1.9euelZqczY7PlsvMic-elYuXxo-Qxu3rnpWay56SypGamJqNxsjNno_KzMjl8_cXIHVe-e81OAFA_t3z91dOcl757zU4AUD-.pncW6T2TlH33e9Z7DDzEOczp6YSQ7bv8x-GhMrNdaUAYKdct1sVGZwJz94xIOJ8aa89Yc537GRpob12y2-fDDQ